.nopad{
  padding: 0;
}

/* Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0 12px 0 0;
  overflow: hidden;
  border-bottom: 1px solid #212121;
}

li {
  float: left;
}
.Navbar .brand{
  font-size: 32px;
  font-weight: 800;
}

li a {
  display: block;
  color: #212121;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* Get user btn */
.button {
  border: none;
  color: white;
  padding: 14px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: #9575cd;
  color: white;
  border: 2px solid #9575cd;
  float: right;
}

/* User card btn */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  font-size: 20px;
}

/* Responsive css */
@media only screen and (max-width: 600px) {
  .Navbar .brand {
    font-size: 20px;
  }
  .container {
    padding: 2px 16px;
    font-size: 18px;
  }
  .email{
    font-size: 12px;
  }
}
/* Grid System */
* {
  box-sizing: border-box;
  word-break: break-all
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* Loader */
.loader {
  border: 12px solid white; /* Light grey */
  border-top: 12px solid #9575cd; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 40%;
  /* top: 120px; */
}

@keyframes spin {
  0% { transform:translate(-50%, -50%) rotate(0deg); }
  100% { transform:translate(-50%, -50%) rotate(360deg); }
}