ul {
  list-style-type: none;
  margin: 0;
  padding: 0 12px 0 0;
  overflow: hidden;
  border-bottom: 1px solid #212121;
}

li {
  float: left;
}
.Navbar .brand{
  font-size: 32px;
  font-weight: 800;
}
li a {
  display: block;
  color: #212121;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: #9575cd;
  color: white;
  border: 2px solid #9575cd;
  float: right;
}